*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-player__container {
  position: relative;
  width: 100%;
  max-width: 100rem;
}

.video-player {
  width: 100%;
  display: block;
  border: none;
}

.video-player__controls {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 97%;
  transform: translateX(-50%);
  padding: 0 0.5rem 1rem;
}

.progress__bar {
  width: 100%;
  height: 0.1rem;
  display: block;
  cursor: pointer;
  background-color: #595959;
  border: none;
  cursor: pointer;
  position: relative;
  transition: height 0.15s ease-in-out;
}

.progress__bar:hover {
  height: 0.35rem;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.progress__bar__knob {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: -0.6rem;
  transform: translateY(-50%) scale(0);
  transition: transform 0.15s ease-in-out;
}

.progress__bar:hover > .progress__bar__knob {
  transform: translateY(-50%) scale(1);
}

.progress__timer {
  display: none;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 0.5rem;
}

.control__box--one,
.control__box--two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control__box--one {
  flex: 0 0 45%;
}

.control--four {
  display: none;
}

.control__box--one > div,
.control__box--two > div {
  padding: 0 0.75rem;
}

.control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  border: none;
  background-color: transparent;
  transition: 0.3s linear;
}

.control:hover {
  color: #595959;
}

.settings:hover {
  transform: rotate(45deg);
}

.volume__menu {
  display: none;
}

.volume__slider {
  width: 100%;
  height: inherit;
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .control__box--one {
    flex: 0 0 50%;
  }

  .control--four {
    display: block;
  }

  .control--five {
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .volume__menu {
    display: block;
    width: 0;
    height: 0;
    overflow-x: hidden;
    transition: width 0.2s linear;
  }

  .control--five:hover > .volume__menu {
    width: 11rem;
    height: auto;
    margin-left: 1rem;
  }
}
