* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  box-sizing: border-box;
}

body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  background-color: white;
  box-shadow: 0 0 4px 2px silver;
  padding: 20px;
}

div.form-group {
  margin-bottom: 30px;
}

span.title {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0.85em;
  font-weight: bold;
}

label[for="female"] {
  margin-left: 30px;
}

input[type="submit"] {
  margin: 0 auto;
  border: 2px solid black;
  padding: 8px;
  text-align: center;
  width: 80px;
  outline: none;
  display: block;
  background-color: white;
  color: black;
  border-radius: 30%;
  box-shadow: 0 10px 5px black;
  transition: 0.1s linear;
}

input[type="submit"]:hover {
  background-color: silver;
  color: white;
}

input[type="submit"]:active {
  transform: translateY(5px);
  box-shadow: 0 5px 5px black;
}

input[type="text"],
input[type="date"] {
  display: block;
  padding: 8px 10px;
  height: 40px;
}

input[type="text"],
input[type="date"],
select {
  border-radius: 3px;
  border: solid 2px black;
  width: 100%;
}

select option {
  padding: 8px 10px;
}

div.error {
  color: red;
  font-size: 0.85em;
  margin: 10px auto 0;
  display: none;
}

div.form-error {
  border: 2px solid red;
  padding: 10px 10px 0;
  border-radius: 5px;
}

div#greeting {
  display: none;
  background-color: hsl(80, 65%, 57%, 0.8);
  color: #82152e;
  padding: 18px 10px;
  margin: 0 0 20px;
  border-left: 5px solid #20070d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
