* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  user-select: none;
}

.calculator {
  width: 290px;
}

#calculator__display {
  padding: 12px;
  width: 290px;
  background-color: #0d1f26;
  font-family: 'Sarpanch', sans-serif;
  text-align: right;
  color: #eaf3be;
}

#calculator__input {
  height: 45px;
  font-size: 25px;
}

#calculator__result {
  height: 25px;
  font-size: 18px;
}

#calculator__input,
#calculator__result {
  white-space: nowrap;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #calculator__input,
  #calculator__result {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

#calculator__buttons {
  padding: 20px 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
  background-color: #262626;
}

button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 40%;
  font-family: 'Michroma', sans-serif;
  font-size: 20px;
  color: #eaf3be;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

#calculator--all-clear {
  background-color: #ff0000;
}

#calculator--all-clear:active {
  background-color: #660000;
}

.calculator--operator {
  background-color: #347b98;
}

.calculator--operator:active {
  background-color: #0d1f26;
}

.calculator--number,
#calculator--period,
#calculator--clear {
  background-color: #eaf3be;
  color: #262626;
}

.calculator--number:active,
#calculator--period:active,
#calculator--clear:active {
  background-color: #bad728;
}

#calculator--equals {
  background-color: #08212b;
}

#calculator--equals:active {
  background-color: #104256;
}