* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  perspective: 800px;
  background-color: #fff;
}

h1 {
  margin-bottom: 30px;
}

.form-container {
  margin-bottom: 20px;
  position: relative;
  height: 275px;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.2s ease-in;
}

.flip {
  transform: rotateY(-180deg);
}

.add-user,
.edit-user {
  width: calc(100% - 30px);
  height: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  backface-visibility: hidden;
}

.edit-user {
  transform: rotateY(180deg);
}

#add__user input[type="submit"] {
  margin-left: auto;
  display: block;
}

.ctrl__btns {
  display: flex;
  justify-content: space-between;
}

.ctrl__btns span {
  cursor: pointer;
}

.user__name,
.user__occupation {
  word-break: break-word;
}

td:last-child {
  display: flex;
  flex-direction: column;
}

.edit {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .form-container {
    margin-bottom: 0;
  }

  td:last-child {
    flex-direction: row;
  }

  .edit {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
