*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contents {
  width: 95%;
  margin: 0 auto 50px;
}

.content__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: #060f3b;
}

.content__item:nth-child(2n) {
  background-color: rgba(192, 192, 192, 0.1);
}

.btn {
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 13px;
  background-color: rgba(192, 192, 192, 0.2);
  cursor: pointer;
  color: #060f3b;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.21s linear;
}

.btn:hover {
  background-color: rgba(192, 192, 192, 0.5);
}

.btn.active {
  background-color: #c0c0c0;
  border-bottom: 2px solid gray;
}

.btn,
.btn__break {
  user-select: none;
}
