*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px 13px;
  background-color: rgba(192, 192, 192, 0.2);
  cursor: pointer;
  color: rgb(6, 15, 59);
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.21s linear;
}

.btn:hover {
  background-color: rgba(192, 192, 192, 0.5);
}

.btn.active {
  background-color: #c0c0c0;
  border-bottom: 2px solid gray;
}

.btn,
.btn__break {
  user-select: none;
}
